.like-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.like-number {
  color: rgb(99, 97, 97);
  font-size: 13px;
  font-weight: 400;
}
.like-comment-inner {
  display: flex;
  align-items: center;
  gap: 3px;
}
.black {
  color: black;
}
.blue {
  color: #375aa0;
}
.like-comment {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.comment-input {
  height: 35px;
  background-color: whitesmoke;
  padding-left: 7px;
  border-radius: 30px;
  border: 1px solid #bbaeae;
  color: #1b1b1bbb;
}
.add-comment-btn {
  height: 35px;
  width: 150px;
  background-color: #375aa0;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
.all-comments{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    height: auto;
   
}
.all-comments-inner{
    position: relative;
}
.name{
    color: #636262;
    font-size: 13px;
    margin: 5px;
}
.comment{
  margin-left: 8px;
   color: rgb(0, 0, 0);
   margin-left: 20px;
}
.timestampPost {
    position: absolute;
    right: 0;
    top:0.5px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #636262bb;
  }
  .comment-img{
    width: 25px;
    border-radius: 50%;
    object-fit: contain;
    height: 25px;
    border: 1px solid rgb(168, 167, 167);
    margin: 5px;
  }
  .comment-img-wrapper{
    display: flex;

  }
  .like-comment-count{
    display: flex;
    gap: 5px;
  }