.profileEdit{
    background-color: white;
    color: black;
    min-height: 80vh;
    min-width: 95vw;
    margin-top: 180px;
}
.profileEdit.dark-mode{
    background-color: #14223a;
    color: white;
}
.profileEdit.mt-10 {
    margin-top: 24.5rem;
    margin-bottom: 0.75rem; /* Update the margin-top value */
}
.edit-btn{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.profile-edit-input{
    display: grid;
    gap: 10px;
}
.edit-input {
    height: 40px;
    border: 1px solid rgb(122, 118, 118);
    border-radius: 4px;
}
.textarea-input {
    border: 1px solid rgb(122, 118, 118);
    border-radius: 4px;
    padding: 8px; /* Add padding for better spacing */
    box-sizing: border-box; /* Ensure padding is included in the width */
    /* Add any additional styling specific to textareas */
}


.profile-container {
    position: relative;
    display: inline-block;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #cacaca;
    padding: 5px;
}

.edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
}
.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #cacaca;
    padding: 5px;
}
.edit-btn{
    position: absolute;
    right: 20px;
    cursor: pointer;
}