.profile{
    background-color: white;
    color: black;
    min-height: fit-content;
    min-width: 80vw;
    /* margin-top: 1000px; */
    border: 1px solid #000;
    margin-top: 10px;
  
}
.profile1{
    background-color: white;
    color: black;
    min-height: 10vh;
    min-width: 80vw;
    margin-top: 20px;
    border: 1px solid #000;
}
/* .profile.dark-mode{
    background-color: #14223a;
    color: white;
} */
.profile-card-container{
    background-color: white;
}
.profile.mt-10 {
    margin-top: 24.5rem;
    margin-bottom: 0.75rem; /* Update the margin-top value */
}
.edit-btn{
    position: absolute;
    right: 20px;
    cursor: pointer;
    background-color: white;
    color: #000;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}
.user-name{
    font-weight: bold;
    font-size: 20px;
    color: 0000;
}
.headline{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400px;
    width: 350px;
    line-height: 20px;
}
.card-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.description-data {
    word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    width: 100%; /* Make sure the text takes the full width of its container */
    max-width: 70vw;
 }
.location{
    font-size: 16px;
    color: #6c747f;
}
.profile-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.right-info{
    margin-top: 20px;
    margin-right: 150px;
    line-height: 30px;
    font-size: 15px;
}
.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #cacaca;
    padding: 5px;
    cursor: pointer;
    position: relative; /* Add position relative */
    z-index: 1; 
    margin-top: 50px;
}
.cover-photo-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px; /* Adjust height as needed */
    overflow: hidden; /* Hide any overflow */
}

.cover-photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}
.education{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 500px;
    width: 600px;
    line-height: 20px;
}
.edu-info{
    font-size: 16px;
    color: #25272b;
}
.year-act{
    font-size: 15px;
    color: #6c747f;
}