.profile {
    background-color: #ffffff;
    color: #000000;
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
}

.profile.dark-mode {
   background-color: #000000;
   color: #ffffff;
}
