.posts-list {
    /* width: 1000px; Adjust the width as needed */
    margin: auto; /* Add this line to center the element horizontally */
    display: flex;
    align-items: left;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    min-height: auto;
  }
.timestamp{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #636262bb;
  
}
.userName{
  font-size: 18px;
}
.post-img{
  width: 45px;
  border-radius: 50%;
  object-fit: contain;
  height: 45px;
  border: 1px solid rgb(168, 167, 167);
}
.post-img-wrapper{
  display: flex;
  gap: 15px;
}
.action-container {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: flex; /* Override display:flex; from parent */
  top: 10px;
  z-index: 999; /* Adjust z-index if necessary */
  gap: 10px;
}
.posted-pic{
  margin-top: 5px;
}