.connections{
    background-color: white;
    color: black;
    min-height: 30vh;
    min-width: 80vw;
    margin-top: 10px;
    overflow-y: auto;
  
}
.connections-card-container{
    background-color: white;
    
}
.connection-item {
    border: 1px solid #ccc; /* Add border to each user item */
    padding: 10px; /* Add padding to create space between border and content */
    margin-bottom: 10px; /* Add margin to create space between user items */
  }
  .connect-button {
    border: 1px solid #ccc; /* Add border to each user item */
    padding: 5px;
    background-color: #4BA5F5;
    margin-right: 2px;
  }

  .ignore-button {
    border: 1px solid #ccc; /* Add border to each user item */
    padding: 5px;
    background-color: #f54b4b;
    margin-right: 2px;
  }
  .accept-button {
    border: 1px solid #ccc; /* Add border to each user item */
    padding: 5px;
    background-color: #4bf570;
    margin-right: 2px;
  }
  .conn-img{
    width: 45px;
    border-radius: 50%;
    object-fit: contain;
    height: 45px;
    border: 1px solid rgb(168, 167, 167);
  }